<!-- HTML code for menu tabs left --> 

  <ul id="myTab" class="nav nav-tabs">
    <li class="active"><a href="#tendances" data-toggle="tab">Tendances</a></li>
    <li><a href="#categories" data-toggle="tab">Catégories</a></li>
  </ul>

<div class="well sidebar-nav">

  <div id="myTabContent" class="tab-content">
    <div class="tab-pane fade in active" id="tendances">

      <%=  render :partial => "layouts/left_menu/tab_trends" %>

    </div>
    <div class="tab-pane fade" id="categories">

      <%=  render :partial => "layouts/left_menu/tab_category" %>

    </div>
  </div>


</div><!--/.well -->