<!-- HTML code for menu tabs left --> 

<ul id="leftMenuTab" class="nav nav-tabs">
  <li class="active"><a href="#tendancesTab" data-toggle="tab">Tendances</a></li>
  <li><a href="#categoriesTab" data-toggle="tab">Catégories</a></li>
  <li><a href="#tagsTab" data-toggle="tab">Tags</a></li>
</ul>

<div class="well sidebar-nav">

  <div id="leftMenuTabContent" class="tab-content">
    <div class="tab-pane fade in active" id="tendancesTab">

      <%=  render :partial => "layouts/left_menu/tab_trends" %>

    </div>
    
    <div class="tab-pane fade" id="categoriesTab">

      <%=  render :partial => "layouts/left_menu/tab_category" %>

    </div>

    <div class="tab-pane fade" id="tagsTab">

      <%=  render :partial => "layouts/left_menu/tab_tag" %>

    </div>
  </div>


</div><!--/.well -->