
<ul class="nav nav-list">
  <li class="nav-header"><h4>Indispensable</h4></li>
  <%=  render :partial => "layouts/left_menu/top_websites", :collection => @webapps_top_comment, :as=> :websites %>
  <li class="nav-header"><h4>Fun</h4></li>
  <%=  render :partial => "layouts/left_menu/top_websites", :collection => @webapps_top_trend, :as=> :websites %>
  <li class="nav-header"><h4>Innovant</h4></li>
  <%=  render :partial => "layouts/left_menu/top_websites", :collection => @webapps_top_recent, :as=> :websites %>
</ul>