<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>

<!-- On a donc accès à des variables nommées d'après le modèle de la collection -->

<li><a class="websiteTitle" websiteId="<%= websites.id %>" href="#detailWebsiteModal" data-toggle="modal">
<%= websites_counter + 1%>.
<%= websites.title %>
  </a></li>

