<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>

<!-- On a donc accès à des variables nommées d'après le modèle de la collection -->


<div class="container-fluid">
  <div class="span3">
    <h4> <%= websites_counter + 1%></h4>
  </div>

  <div class="span9">
    <div class="row-fluid">
      <li><a class="websiteTitle" websiteId="<%= websites.id %>" href="#detailWebsiteModal" data-toggle="modal">
          <%= websites.title %>
        </a></li>
    </div>
    <div class="row-fluid">
    <%=  render :partial => "layouts/star_rating", :locals => { :n => websites.average_rate }%>
  </div>
</div>
</div>
<div class="line-separator-dashed"></div>
