 <div id="loginHtml" class="hide">

            <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
              <div class="control-group">

                <div class="controls">
                    <div class="input-prepend">
                    <span class="add-on"><div class="icon-user    "></div></span>
                  <%= f.email_field :email, :placeholder=>"email",:class=>"input-medium" %></div>
                </div>
              </div>
              <div class="control-group custom_inline" >
                <div class="controls">


                  <div class="input-prepend">
                    <span class="add-on"><div class="icon-lock"></div></span>
                  <%= f.password_field :password, :placeholder=>"password",:class=>"input-medium"%></div>
                  </div>
                </div>
              <div><%= f.submit "Se connecter",:class=>"btn btn-success btn-block" %></div>
            <% end %>
              <div class="line-separator"></div>
              <p> Ou connectez-vous avec : </p>
            <div id="openIdProviders">
              <a class="openIdProvider hover_green" id="facebookLogIn" href="/auth/facebook">Facebook</a>
              <a class="openIdProvider soon hover_green" id="googleLogIn" href=""> Google </a>
              <a class="openIdProvider soon hover_green" id="twitterLogIn" href="">Twitter </a>
             </div>
          </div>
