

  <h1>Edition</h1>


  <% if current_user.try(:admin?) or (current_user.id == @webapp.user_id and @webapp.validate == false)%>
    <%= render 'form' %>

    <br></br>
    <%= link_to 'Show', @webapp %> |
    <%= link_to 'Back', webapps_path %>

<% else %>
  <p class="alert alert-error"> Vous devez être connecté en tant qu'administrateur pour modérer des websites. Seuls les sites web pas encore validé peuvent
  être modifier par leur auteur</p>
  <%=render "shared/message_please_sign_in"%>
<% end %>