

<div class="span12">
  <h2 class="text-info""><strong> Nouveautés </strong></h2>
</div>

<ul class="thumbnails">
  <% 3.times do |i| %>
    <li class="span4">
     <%=  render :partial => "webapps/preview_website", :locals => { :website => @webapps_suggest[i] }%>
    </li>
  <%end%>
</ul>


<ul class="thumbnails">
  <% 3.times do |i| %>
    <li class="span4">
      <div class="thumbnail">
     <%=  render :partial => "webapps/preview_website", :locals => { :website => @webapps_suggest[i+3] }%>

      </div>
    </li>
  <%end%>
</ul>




<div class="row-fluid">
  <div class="span12">
    <h2 class="text-info"><strong> Suggestions </strong></h2>
  </div>
</div>

<ul class="thumbnails">
  <% 3.times do |i| %>
    <li class="span4">
      <div class="thumbnail">
        <%=  render :partial => "webapps/preview_website", :locals => { :website => @webapps_suggest[i] }%>
      </div>
    </li>
  <%end%>
</ul>


<ul class="thumbnails">
  <% 3.times do |i| %>
    <li class="span4">
      <div class="thumbnail">
  <%=  render :partial => "webapps/preview_website", :locals => { :website => @webapps_suggest[i+3  ] }%>

      </div>
    </li>
  <%end%>
</ul>
