<!-- View for display website by list for example for a search or to display all order websites -->

<div  class="container-fluid">
  <div class="span4">
    <div class="row-fluid">
      <h3 id="subtitle_search"> <%=@subtitle%> </h3>
    </div>

    <div class="row-fluid">
    </div>

  </div>

  <div class="offset4 span4">
    <div class="row-fluid">

    </div>
    <div class="row-fluid">
      <div class="span12">
        <div class="btn-toolbar">

          <div class="btn-group">
            <button class="btn">Trier par</button>
            <button class="btn dropdown-toggle" data-toggle="dropdown">
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li><a id="btn_sort_commented">Les plus commentés</a></li>
              <li><a  id="btn_sort_rated">Les mieux notés</a></li>
              <li><a id="btn_sort_trend">Les plus consultés</a></li>
              <li><a id="btn_sort_recent">Ancienneté</a></li>
              <li class="divider"></li>
              <li><a href="#">Proposer un autre tri !</a></li>
            </ul>
          </div>
          <div class="btn-group">
            <button type="button" id="btn_display_grid" class="btn"><i class="icon-th"></i></button>
            <button type="button" id="btn_display_list" class="btn"><i class="icon-th-list"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<div class="row-fluid">
  <div class="span12 offset0">
    <div class="line-separator-dotted-fat"></div>
  </div>
</div>

<div id="search_result">
  <%=  render :partial => "webapps/preview_website_list", :collection => @webapps, :as => :website %>
</div>