<!-- View for display website by list for example for a search or to display all order websites -->

<h2>Modérez les nouvelles suggestions</h2>
<legend>Votez pour les sites Web que vous souhaitez voir dans le catalogue de EnjoyTheWeb</legend>

<%= render :partial => "shared/tips/tips_for_vote" %>
<div class="row-fluid">
  <div class="span12">
    <div class="heading">

      <h3><a id="subtitle_search" href="/webapps/order/recent/true"><%=@subtitle%></a></h3>
    </div>
  </div>
  <div class="row-fluid">
  </div>

</div>



<div class="row-fluid">
  <div class="span11">
    <div class="websites">
      <%if @webapps.length!=0%>
        <%=  render :partial => "webapps/website_list_voting", :collection => @webapps, :as => :website %>
      <%else%>
        <p>Aucune suggestion non validée</p>
      <%end%>
    </div>
  </div>
</div>
