 <!-- Plus utilisé pour l'instant -->


<div class ="cloud" style ="margin-top: 5%;margin-left: 30%">
  </div>

<script>

  $(document).ready(function() {
    $.ajax({
      type: "GET",
      url: "/tags/index.json"
    }).done(function( msg ) {
      var display = JSON.stringify(msg)

      var tab = new Array();
      var i = 0
      for(i=0;i<msg.length;i++){
        tab.push(msg[i].name);
      }
      goCloud(tab);
    });
  });

  function goCloud(tab){
    d3.layout.cloud().size([500, 500])
    .words(tab.map(function(d) {
      return {text: d, size: 10 + Math.random() * 80};
    }))
    .rotate(function() { return ~~(Math.random() * 2) * 4; })
    .fontSize(function(d) { return d.size; })
    .on("end", draw)
    .start();
  }

  function draw(words) {
    d3.select(".cloud").append("svg")
    .attr("width", 500)
    .attr("height", 500)
    .append("g")
    .attr("transform", "translate(250,250)")
    .selectAll("text")
    .data(words)
    .enter().append("text")
    .style("font-size", function(d) { return d.size + "px"; })
    .attr("text-anchor", "middle")
    .attr("transform", function(d) {
      return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")";
    })
    .text(function(d) { return d.text; });
  }
</script>