
<div class="hero-unit custom_box">


  <div class="row-fluid">
    <div class="span10">
      <ul class="nav nav-pills" style="cursor:pointer">
        <li class="active"><a href="#list_website" data-toggle="tab">A la Une</a></li>
        <li><a href="#browser_tag" data-toggle="tab">Naviguer dans les tags</a></li>
        <li><a href="#surprise" data-toggle="tab">Surprenez-moi</a></li>
      </ul>
    </div>


  </div>

  <div class="line-separator" style="margin-top:-1.2%;"></div>


  <div id="myTabContent" class="tab-content">
    <div class="tab-pane fade in active" id="list_website"  style="padding-right:1%;">

      <%= yield %>

    </div>
    <div class="tab-pane fade" id="browser_tag">

      <%=  render :partial => "tags/tag_cloud" %>

    </div>
    <div class="tab-pane fade" id="surprise">

      <%=  render :partial => "layouts/main_view/surprise_me" %>

    </div>
  </div>
</div>
