<!-- HTML for comments in detail popop => fill in by AJAX ('websites/webapp_popup.js')-->

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span7">

      <h4>Commentaires : </h4>
      <div class="line-separator-dashed"></div>
      <div id="detailWebsiteModalComments">
        <%=  render :partial => "comments/index", :collection => comments, :as => :comments %>
      </div>
    </div>

    <div class="span5">
      <h4> Donnez votre avis </h4>
      <div class="line-separator"></div>
      <div>
        <span id="star_rating_user" class="custom_inline"></span>
        <span id="target" class="custom_inline text-info"></span>
      </div>
      <div  class="line-separator"></div>
      <textarea class="span12" id="newCommentField" rows="5" placeholder="Ecrire un commentaire (optionnel)"></textarea><br>
      <% if user_signed_in? %>
        <div>
          <a class="btn btn-info custom_inline " id="addCommentSendButton" type="button">Publier</a>
          <a class="btn btn-info custom_inline" id="addCommentSendButtonPut" type="button">Publier</a>
          <a class="btn btn-warning custom_inline" id="addCommentEditButton" type="button">Editer</a>
        </div><br></br>
        <p class="alert alert-success" id="messageCommentSaved"> C'est noté ! </p>
        <label class="checkbox">
          <input type="checkbox"> Publier aussi sur Facebook </input>
        </label>
      <%else%>
        <%=render "shared/message_please_sign_in"%>
      <%end%>
    </div>

  </div>
</div>
