<!-- Detail for website -->
<div class="row-fluid">
  <div class="span12">
    <!-- Caption -->
    <legend><h4 id="detailWebsiteModalCaption"><i class="icon-eye-open" style="margin-top: 0.5%"></i> <%= website.caption %></h4></legend>
  </div>
    <div class="row-fluid">
    <!-- URL -->
    <a href="" target="_blank" id="detailWebsiteModalURL" class="websiteurl btn btn-link"> <div class="icon-ok-sign"></div> <%= website.url %></a>
  </div>
</div>

<div class="container-fluid">
  <div class="span6">
    <br></br>
    <!-- Description -->
    <p id="detailWebsiteModalDescription"> <%= website.description %></p>
  </div>
  <div class="span6">
    <img alt="" id="detailWebsiteModalImage" src="" class="img-rounded" > <%= image_tag website.photo.url %></img>
  </div>
</div>
