<!-- Detail for website -->
<div class="row-fluid">
  <div class="span12">
    <!-- Caption -->
    <legend><h4 id="detailWebsiteModalCaption"><i class="icon-eye-open" style="margin-top: 0.5%"></i> <%= website.caption %></h4></legend>
  </div>
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span6 ">
      <h4>Description</h4>
      <br></br>
          <!-- Description -->
    <p style="text-align:justify" id="detailWebsiteModalDescription"> <%= website.description %></p>
      </div>
      <div class="span6">
         <%= image_tag website.photo.url %>
      </div>

   </div>

  </div>
    
</div>

