<!-- HTML code for footer : valeurs, faq, équipe, contact + MODAL FEEDBACK -->
<!-- + Some script like facebook SDK / Google Analytics... -->

<footer class="footer"> <!-- Css of footer in asset/stylesheets/bootstrap-over.scsss -->
  <div class="container">
    <div class="row-fluid">
      <div class="span3 offset2">
        <h4> Présentation </h4>
        <ul>
          <li> <%= link_to "Nos valeurs", pages_about_path %> </li>
          <li> L'équipe </li>
          <li> <%= link_to "F.A.Q", faq_path %> </li>
        </ul>

      </div><!--/span-->
      <div class="span3">
        <h4> Contactez-nous </h4>
        <ul>
          <li> <%= link_to "Contact", contact_path %> </li>
          <li><a class="feedback_link" href="#"> Signaler un bug </a></li>
          <li><a class="feedback_link" href="#"> Un commentaire ? </a></li>
        </ul>

      </div><!--/span-->
      <div class="span3">
        <h4>A propos</h4>
        <em>EnjoyTheWeb est un projet original ayant pour vocation de rapprocher deux entités ayant besoin l'une de l'autre : 
	 		les sites web innovants et les internautes.</em>
      </div><!--/span-->

    </div><!--/row-->
  </div><!--/container-->

</footer>
<div id="fb-root"></div>

<!-- Feedback tab -->
<a href="#" id="feedback_link" class="feedback_link left"></a>

<div id="spinner" class="spinner" style="display:none;">
    <img id="img-spinner" src="/img/ajax-loader.gif" alt="Loading"/>
</div>

<div id="feedback_window"></div>
<div id="detailWebsiteModalTEST"></div>
          <%#= render 'layouts/detail_website_popup/popup_website' %>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId : '127106447445199',
      status : true, // check login status
      cookie : true, // enable cookies to allow the server to access the session
      xfbml : true // parse XFBML
    });
  };

  (function() {
    var e = document.createElement('script');
    e.src = document.location.protocol + '//connect.facebook.net/en_US/all.js';
    e.async = true;
    document.getElementById('fb-root').appendChild(e);
  }());

</script>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-37453205-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>