
<h1>Nos valeurs</h1>
<br></br>
  <p>Ut enim benefici liberalesque sumus, non ut exigamus gratiam (neque enim beneficium faeneramur 
  sed natura propensi ad liberalitatem sumus), sic amicitiam non
   spe mercedis adducti sed quod omnis eius fructus in ipso amore inest, expetendam putamus.</p>
  <p>
    <br></br>
    <a class="btn btn-primary btn-large">
      Nous contacter
    </a>
  </p>          

