
<h2>Nos valeurs</h2>
<legend> Le projet </legend>
<p>Le paysage internet fleurit en permanence de nombreuses initiatives, de projets et de start-up innovantes. Le Web regorge maintenant d’outils et d’applications géniales que nous ne connaissons pas. Pourquoi ? Parce que l’on ne <em>google</em> pas le bon mot-clé, parce nous restons dans notre bulle internet.</p>

<strong><p>EnjoyTheWeb veut favoriser la rencontre des projets innovants et des internautes. </p></strong>
<strong><p>EnjoyTheWeb veut vous faire découvrir le meilleur du Web ouvert et collaboratif. </p></strong>
<br>
<legend>Motivation</legend>

<p>
  Elle est double : </p>
<ul>
  <li>
	Fournir aux internautes  la possibilité d’explorer le Web d’une nouvelle façon. Non plus en passant par des recherches par mots-clés, mais en parcourant une vitrine, où sont présentés de nombreux sites Web.<strong> Vous aurez la surprise de découvrir des recoins du Web jamais exploré car jamais <em>googlé</em> !</strong>
  </li><br>
  <li>
    Donner une visibilité accrue à des sites Web dont le service favorise le partage, le transfert de la connaissance, la collaboration entre citoyens ou le développement durable. Nous souhaitons promouvoir ces projets porteurs d’avenir en leur offrant un espace dédié.
  </li>

</ul>

<br>

<h3 class="">EnjoyTheWeb est une vitrine et c'est aussi une plateforme contributive. Aidez-nous à construire l'AppStore du Web collaboratif ! </h3>
<div class="row-fluid"> 
  <div class="offset10 span2">
    <%= link_to "S'inscrire", new_user_registration_path, :class=>"btn btn-success btn-large" %>

  </div>
</div>

