 <div class="alert alert-info">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <dl>
            <dt> <h5>Quels sites ont leur place au sein d'EnjoyTheWeb ?</h5> </dt>
            <dd>
              <small>
                La vocation d'EnjoyTheWeb est d'être le catalogue des sites internet innovants, dont les services
                favorisent de près ou de loin :
                <ul>
                  <li>
                    Le partage et la collaboration entre individus
                  </li>
                  <li>
                    Le transfert et le partage des connaissances
                  </li>
                  <li>
                    Le développement durable
                  </li>
                </ul>
              </small>
            </dd>
           <dt> <h5>Comment ma suggestion sera validée ? </h5> </dt>
            <dd>
              <small>
               Ce sont les utilisateurs qui décident de l'acceptation ou non d'une suggestion.
              </small>
            </dd></dl>

        </div>
