<div class="alert alert-info">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <small>
    Astuce : vous pouvez aussi utiliser le raccourci "clique - 'P' " pour parcourir les tags sans avoir à changer d'option
  </small>
</div>
