 <div class="alert alert-info">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <dl>
            <dt> <h5>Conseils pour voter</h5> </dt>
            <dd>
              <small>
                Nous rappelons que EnjoyTheWeb a pour vocation d'être la catalogue des sites Web dont le service
                favorise :
                <ul>
                  <li>
                    Le partage et la collaboration entre individus
                  </li>
                  <li>
                    Le transfert et le partage des connaissances
                  </li>
                  <li>
                    Le développement durable
                  </li>
                </ul>

                Nous vous conseillons de visiter les sites pour vérifier que la description correspond bien au service
                proposé.

              </small>
            </dd>
          </dl>

        </div>
