<div class="carousel slide span12" id="myCarousel">
  <div class="carousel-inner">
     <%=  render :partial => "layouts/caroussel/website_promoted", :collection => @webapps_promoted, :as=> :websites %>
  </div>
  <a data-slide="prev" href="#myCarousel" class="left carousel-control">‹</a>
  <a data-slide="next" href="#myCarousel" class="right carousel-control">›</a>
</div>