<div class="item <%= if(websites_counter ==1)
  "active"
end
   %>" >
  <ul class="thumbnails">
    <li class="span12">
      <div class="thumbnail">
        <%= image_tag(websites.photo.url, :alt => "rss feed", :size => "350x350") %>
      </div>
      <div class="carousel-caption">
        <h4><%= websites.title %> </h4>
        <p> <%= websites.caption %></p>
      </div>
    </li>
  </ul>
</div>
