<div class="item <%= if(websites_counter == 0 )
  "active"
end
   %>" >
  <div class="offset1" style="margin-left:10%">
    <%= image_tag(websites.photo.url(:caroussel), :alt => "rss feed") %>

    <div class="carousel-caption">
      <h4><%= link_to  websites.title ,"",
          :class => "websiteTitle",:websiteId=>websites.id,
          :style=>"color:white",
          :data => { :toggle => "modal" }%> </h4>
      <p> <%= websites.caption %></p>

    </div>
  </div>

</div>
