<div class="item <%= if(websites_counter ==1)
  "active"
end
   %>" >
  <div class="offset4">
    <%= image_tag(websites.photo.url(:caroussel), :alt => "rss feed") %>

    <div class="carousel-caption">
      <h4><%= link_to  websites.title ,"#detailWebsiteModal",
          :class => "websitetop",:websiteId=>websites.id,
          :style=>"color:white",
          :data => { :toggle => "modal" }%> </h4>
      <p> <%= websites.caption %></p>

    </div>
  </div>

</div>
