<script>
  Cloud();
  </script>
<h2> Explorer les #tags </h2>
<br>
 <%= render :partial => "shared/tips/tips_shortkey_cloudtag" %>
<div class="container-fluid">
  <div class="span4">
    <p> Cliquer sur un tag pour :</p>
  </div>
  <div class="span6">

    <label class="radio">
      <input type="radio" name="optionsRadios" id="optionWeb" value="website" checked="checked"">
      afficher les sites web associés
    </label>
    <label class="radio">
      <input type="radio" name="optionsRadios" id="optionTag" value="tag">
       parcourir ses liens avec les autres tags 
    </label>
 
  </div>

</div>

<br>
<div class="line-separator"></div>
</br>

<div id="tagsCloud"></div>

<div id="websitesCloud" style="display:none; width:600px; "></div>

