
<!-- Surprenez-moi -->

<h2> Plongez-vous dans les #tags </h2>
<br>

<div class="container-fluid">
  <div class="span4">
    <p> Cliquer sur un tag pour :</p>
  </div>
  <div class="span6">
    <ul>
      <li> afficher les sites web associés</li>
      <li>parcourir ses liens avec les autres tags </li></ul>
  </div>
</div>
<br>
<div class="line-separator"></div>
</br>

<div id="tagsCloud"></div>

<div id="websitesCloud" style="display:none; width:600px; "></div>

