<!-- Body for the popup detail -->


<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">

      <h3>Tags : </h3>
      <%= render  "layouts/detail_website_popup/tag_popup" %>

    </div>

    <div class="span10">
      <ul id="detailPopupTab" class="nav nav-tabs">
        <li class="active"><a href="#detailTab" data-toggle="tab">Détails</a></li>
        <li><a href="#commentTab" data-toggle="tab">Avis des internautes</a></li>

      </ul>

    </div>
    <!-- View for tab content -->
    <div class="span10">

      <div class="well sidebar-nav">
        <div id="detailPopupContent" class="tab-content">
          <div class="tab-pane fade in active" id="detailTab">
            <%= render "layouts/detail_website_popup/detail_tab" %>
          </div>
          <div class="tab-pane fade" id="commentTab">
            <!-- Commentaires -->
            <h4>Commentaires : </h4>
            <%= render  "layouts/detail_website_popup/comment_popup" %>
          </div>
        </div>
      </div><!--/.well-->

    </div>
  </div>
</div>



