<!-- HTML for comments in detail popop => fill in by AJAX ('websites/webapp_popup.js')-->


<% if user_signed_in? %>
<div id="addCommentField" class="input-append">
  <input class="span9" id="newCommentField" type="text"></input>
  <a class="btn" id="addCommentSendButton" type="button">Add!</a>
</div>
<%end%>
<span id="detailWebsiteModalComments"></span>