<!-- Detail for website -->

<!-- Caption -->
<div class="row-fluid">
  <div class="span10">
    <h4 id="detailWebsiteModalCaption"></h4>
  </div>
</div>


<div class="row-fluid">
  <div class="span4">
    <!-- URL -->
    <a href="" target="_blank" id="detailWebsiteModalURL" class="websiteurl"></a>
    <br></br>
    <!-- Description -->
    <p id="detailWebsiteModalDescription"></p>

   
  </div><!--/span-->

  <div class="span6">
    <img alt="" id="detailWebsiteModalImage" src="" ></img>
  </div>
</div>