<!-- Detail for website -->


<div class="row-fluid">
  <div class="span10">
    <!-- Caption -->
    <h4 id="detailWebsiteModalCaption"></h4>
    <!-- URL -->
    <a href="" target="_blank" id="detailWebsiteModalURL" class="websiteurl"></a>
  </div>
</div>

<div class="container-fluid">
  <div class="span6">
    <br></br>
    <!-- Description -->
    <p id="detailWebsiteModalDescription"></p>
  </div>
  <div class="span6">
    <img alt="" id="detailWebsiteModalImage" src="" class="img-rounded" ></img>
  </div>
</div>
