<!-- Header for the popup detail -->
<div class="row-fluid">
  <div class="span3">
    <img id="favicons_website" class="custom_inline" style="margin-bottom:7%;" alt="none" src=""></img>
    <h3 id="detailWebsiteModalTitle" class="custom_inline" ></h3>
    <span class="custom_inline" id="detailWebsiteModalRating"></span>
  </div>



  <div class="span2 offset4 ">
    <em id="detailWebsiteModalNbVues"></em>
  </div>
  <div class="span2">
    <img class="custom_inline" id="share_facebook" style="cursor:pointer;"  src="/img/facebook_32.png"></img>
  <img class="custom_inline" id="share_google" style="cursor:pointer;"  src="/img/google_plus_32.png"></img>
  <img class="custom_inline" id="share_twitter" style="cursor:pointer;" src="/img/twitter_32.png"></img>
  <img class="custom_inline" id="bookmark" style="cursor:pointer; margin-left: 2%;" src="/img/star-off.png"></img>
  </div>

  <div class="span1">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>

  </div>
</div>
