<!-- Header for the popup detail -->

<img id="favicons_website" class="custom_inline" alt="none" src=""></img>
<h3 id="detailWebsiteModalTitle" class="custom_inline" ></h3>


<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>

<p class="close" id="detailWebsiteModalNbVues"></p>
