<!-- Button to trigger modal -->


<!-- Modal -->
<div id="detailWebsiteModal" websiteId="" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="detailWebsiteModalLabel" aria-hidden="true">
  <div class="modal-header">
    <%= render  "layouts/detail_website_popup/header_popup" %>
  </div>
  <div class="modal-body">
    <%= render "layouts/detail_website_popup/body_popup" %>
  </div>
  <%  if user_signed_in? %>
    <div class="modal-footer">
 
      <a class="btn" id="detailWebsiteModalEdit" href="">Edit</a>
    
  </div>
  <%  end %>
</div>
