<!-- HTML for tags in detail popop => fill in by AJAX ('websites/webapp_popup.js')-->

<span id="detailWebsiteModalTagsList"></span>

<% if user_signed_in? %>
  <button id="addTagButton" class="btn btn-link btn-small" href="#"><i class="icon-plus-sign"></i> Proposer un tag </button>
  <div id="addTagField" class="input-append">
    <input class="span9" id="newTagField" type="text"></input>
    <a class="btn" id="addTagSendButton" type="button">Add!</a>
  </div>
  <p class="alert alert-success" id="messageTagSaved"> C'est noté ! </p>

<%else%>
  <%= link_to "Connectez-vous pour contribuer", new_user_session_path, :class=>"btn btn-small btn-link" %>
<%end%>