/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree .
*/

.content {
    background-color: #eee;
    padding: 20px;
    margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
    -webkit-border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
    box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

.field_with_errors {
    margin-top: 10px;
    padding: 2px;
    background-color: white;
    display: table;
}

.field_with_errors label {
    color: #000;
}

.line-separator{
    height:0.5px;
    background:white;
    border-bottom:1px solid #999999;
    margin-bottom: 3%;
    margin-top: 3%;
}

.line-separator-solid{
    height:0.5px;
    background:white;
    border-bottom:1px solid #999999;

}

.line-separator-dashed{
    height:0.5px;
    background:white;
    border-bottom:1px dashed #999999;
    margin-bottom: 3%;
    margin-top: 3%;
}

.line-separator-dotted-fat{
   
    background : white;
    border-bottom: 7px dotted  #468847;
    margin-bottom: 3%;
    margin-top: 3%;
}


.spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -50px; /* half width of the spinner gif */
    margin-top: -50px; /* half height of the spinner gif */
    text-align:center;
    z-index:1234;
    overflow: auto;
    width: 100px; /* width of the spinner gif */
    height: 102px; /*hight of the spinner gif +2px to fix IE8 issue */
}


.heading {
    background: url("/img/line.jpg") repeat-x scroll 0 21px transparent;
    text-align: center;
    margin-bottom: 6%;
    margin-top: 4%;
}

.heading img {
    background: none repeat scroll 0 0 #FFFFFF;
    margin-left: -5px;
    margin-right: -5px;
    padding: 0 15px;
    position: relative;
    top: -4px;
}

.heading h2 {
    background-color: #FFFFFF;
    padding: 0 3px;
    display: inline;
    text-transform : uppercase;
}

.heading h3 {
    background-color: #FFFFFF;
    padding: 0 3px;
    display: inline;
    text-transform : uppercase;
}

.custom_inline{
  display : inline-block ;

}
