/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree .
*/
@font-face {
	font-family: brandolt;
	src: url('/font/Demo_ConeriaScript.ttf');
}
@font-face {
	font-family: brandoltFet;
	src: url('/font/Demo_ConeriaScript.ttf');
}


/*.field_with_errors {
    margin-top: 10px;
    padding: 2px;
    background-color: white;
    display: table;
}

.field_with_errors label {
    color: #000;
}*/



.line-separator{
    height:0.5px;
    background:white;
    border-bottom:1px solid #999999;
    margin-bottom: 3%;
    margin-top: 3%;
}

.line-separator-solid{
    height:0.5px;
    background:white;
    border-bottom:1px solid #999999;

}

.line-separator-dashed{
    height:0.5px;
    background:white;
    border-bottom:1px dashed #999999;
    margin-bottom: 3%;
    margin-top: 3%;
}

.line-separator-dotted-fat{
    background : white;
    border-bottom: 7px dotted  #468847;
    margin-bottom: 3%;
    margin-top: 3%;
}


.spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -50px; /* half width of the spinner gif */
    margin-top: -50px; /* half height of the spinner gif */
    text-align:center;
    z-index:1234;
    overflow: auto;
    width: 100px; /* width of the spinner gif */
    height: 102px; /*hight of the spinner gif +2px to fix IE8 issue */
}

.main-flash{
    margin-top:2%;
}

.main-title{
    margin-bottom:2%;
    text-align:center;
    font-family: brandoltFet;
    color:white;
    margin-top:-1.5%;
    padding-top:1.5%;
}
/****************/
/*Staring title*/
/****************/
.heading {
/*    background: url("/img/line.jpg") repeat-x scroll 0 21px transparent;*/
    text-align: center;
/*    margin-bottom: 2%;*/
    margin-top: 2%;
    
}

.heading img {
    background: none repeat scroll 0 0 #FFFFFF;
    margin-left: -5px;
    margin-right: -5px;
    padding: 0 15px;
    position: relative;
    top: -4px;
}

.heading h2 {
  font-weight:  lighter;
  background-color:#7fc04c;
  margin-bottom: 3%;
  text-align:center;
  box-shadow: 4px 4px 2px -2px rgba(0,0,0,0.5);
  
}

.heading h2 a{
    color:#333333 ;
}
.heading h3 {
font-size:120%;
  font-weight:  lighter;
  height : 30px;
  padding-bottom:5px;
  margin-bottom: 3%;
  text-align:center;
   box-shadow: 4px 4px 2px -2px rgba(0,0,0,0.5);
  
}

.custom_inline{
  display : inline-block ;
}

.icon-margin{
    margin-top:2%;
}



.topbar{height:52px;position:fixed;top:0;left:0;right:0;z-index:10000;overflow:visible}
.topbar .nav li{display:block;float:left;width:148px}.topbar .nav li.discover a:before,
.topbar .nav li.new-project a:before{content:'';background:url(/assets/header-s98a0261135-f1353d0edb9c83b2fe4ea15efe1745eb.png) 0 -132px no-repeat;width:20px;height:19px;top:15px;left:22px;position:absolute}
    .topbar .nav li.new-project a:before{background:url(/assets/header-s98a0261135-f1353d0edb9c83b2fe4ea15efe1745eb.png) 0 -94px no-repeat;width:20px;height:19px;top:13px}
    .topbar .nav li.discover a:hover:before{background:url(/assets/header-s98a0261135-f1353d0edb9c83b2fe4ea15efe1745eb.png) 0 -113px no-repeat}
    .topbar .nav li.new-project a:hover:before{background:url(/assets/header-s98a0261135-f1353d0edb9c83b2fe4ea15efe1745eb.png) 0 -75px no-repeat;left:23px}
    .topbar div>ul,.topbar .nav{display:block;float:left;margin:0 10px 0 0;position:relative;left:0}.topbar div>ul.secondary-nav,
    .topbar .nav.secondary-nav{float:right;margin-left:10px;margin-right:0}.topbar div>ul.secondary-nav .dropdown-menu li,.topbar .nav.secondary-nav .dropdown-menu li{width:100%}.topbar div>ul.secondary-nav .dropdown-menu li.drop-profile,.topbar div>ul.secondary-nav .dropdown-menu li.drop-edit-profile,.topbar div>ul.secondary-nav .nav.secondary-nav .dropdown-menu li.drop-edit-profile,.topbar .nav.secondary-nav div>ul.secondary-nav .dropdown-menu li.drop-edit-profile,.topbar div>ul.secondary-nav .dropdown-menu li.drop-project,.topbar div>ul.secondary-nav .nav.secondary-nav .dropdown-menu li.drop-project,.topbar .nav.secondary-nav div>ul.secondary-nav .dropdown-menu li.drop-project,.topbar div>ul.secondary-nav .dropdown-menu li.drop-contrib,.topbar div>ul.secondary-nav .nav.secondary-nav .dropdown-menu li.drop-contrib,.topbar .nav.secondary-nav div>ul.secondary-nav .dropdown-menu li.drop-contrib,.topbar div>ul.secondary-nav .dropdown-menu li.drop-inbox,.topbar div>ul.secondary-nav .nav.secondary-nav .dropdown-menu li.drop-inbox,.topbar .nav.secondary-nav div>ul.secondary-nav .dropdown-menu li.drop-inbox,.topbar div>ul.secondary-nav .dropdown-menu li.drop-signout,.topbar div>ul.secondary-nav .nav.secondary-nav .dropdown-menu li.drop-signout,.topbar .nav.secondary-nav div>ul.secondary-nav .dropdown-menu li.drop-signout,.topbar .nav.secondary-nav .dropdown-menu li.drop-profile,.topbar .nav.secondary-nav div>ul.secondary-nav .dropdown-menu li.drop-edit-profile,.topbar div>ul.secondary-nav .nav.secondary-nav .dropdown-menu li.drop-edit-profile,.topbar .nav.secondary-nav .dropdown-menu li.drop-edit-profile,.topbar .nav.secondary-nav div>ul.secondary-nav .dropdown-menu li.drop-project,.topbar div>ul.secondary-nav .nav.secondary-nav .dropdown-menu li.drop-project,.topbar .nav.secondary-nav .dropdown-menu li.drop-project,.topbar .nav.secondary-nav div>ul.secondary-nav .dropdown-menu li.drop-contrib,.topbar div>ul.secondary-nav .nav.secondary-nav .dropdown-menu li.drop-contrib,.topbar .nav.secondary-nav .dropdown-menu li.drop-contrib,.topbar .nav.secondary-nav div>ul.secondary-nav .dropdown-menu li.drop-inbox,.topbar div>ul.secondary-nav .nav.secondary-nav .dropdown-menu li.drop-inbox,.topbar .nav.secondary-nav .dropdown-menu li.drop-inbox,.topbar .nav.secondary-nav div>ul.secondary-nav .dropdown-menu li.drop-signout,.topbar div>ul.secondary-nav .nav.secondary-nav .dropdown-menu li.drop-signout,.topbar .nav.secondary-nav .dropdown-menu li.drop-signout{position:relative}.topbar div>ul.secondary-nav .dropdown-menu li.drop-profile:hover,.topbar div>ul.secondary-nav .dropdown-menu li.drop-edit-profile:hover,.topbar div>ul.secondary-nav .nav.secondary-nav .dropdown-menu li.drop-edit-profile:hover,.topbar .nav.secondary-nav div>ul.secondary-nav .dropdown-menu li.drop-edit-profile:hover,.topbar div>ul.secondary-nav .dropdown-menu li.drop-project:hover,.topbar div>ul.secondary-nav .nav.secondary-nav .dropdown-menu li.drop-project:hover,.topbar .nav.secondary-nav div>ul.secondary-nav .dropdown-menu li.drop-project:hover,.topbar div>ul.secondary-nav .dropdown-menu li.drop-contrib:hover,.topbar div>ul.secondary-nav .nav.secondary-nav .dropdown-menu li.drop-contrib:hover,.topbar .nav.secondary-nav div>ul.secondary-nav .dropdown-menu li.drop-contrib:hover,.topbar div>ul.secondary-nav .dropdown-menu li.drop-inbox:hover,.topbar div>ul.secondary-nav .nav.secondary-nav .dropdown-menu li.drop-inbox:hover,.topbar .nav.secondary-nav div>ul.secondary-nav .dropdown-menu li.drop-inbox:hover,.topbar div>ul.secondary-nav .dropdown-menu li.drop-signout:hover,.topbar div>ul.secondary-nav .nav.secondary-nav .dropdown-menu li.drop-signout:hover,.topbar .nav.secondary-nav div>ul.secondary-nav .dropdown-menu li.drop-signout:hover,.topbar .nav.secondary-nav .dropdown-menu li.drop-profile:hover,.topbar .nav.secondary-nav div>ul.secondary-nav .dropdown-menu li.drop-edit-profile:hover,.topbar div>ul.secondary-nav .nav.secondary-nav .dropdown-menu li.drop-edit-profile:hover,.topbar .nav.secondary-nav .dropdown-menu li.drop-edit-profile:hover,.topbar .nav.secondary-nav div>ul.secondary-nav .dropdown-menu li.drop-project:hover,.topbar div>ul.secondary-nav .nav.secondary-nav .dropdown-menu li.drop-project:hover,.topbar .nav.secondary-nav .dropdown-menu li.drop-project:hover,.topbar .nav.secondary-nav div>ul.secondary-nav .dropdown-menu li.drop-contrib:hover,.topbar div>ul.secondary-nav .nav.secondary-nav .dropdown-menu li.drop-contrib:hover,.topbar .nav.secondary-nav .dropdown-menu li.drop-contrib:hover,.topbar .nav.secondary-nav div>ul.secondary-nav .dropdown-menu li.drop-inbox:hover,.topbar div>ul.secondary-nav .nav.secondary-nav .dropdown-menu li.drop-inbox:hover,.topbar .nav.secondary-nav .dropdown-menu li.drop-inbox:hover,.topbar .nav.secondary-nav div>ul.secondary-nav .dropdown-menu li.drop-signout:hover,.topbar div>ul.secondary-nav .nav.secondary-nav .dropdown-menu li.drop-signout:hover,.topbar .nav.secondary-nav .dropdown-menu li.drop-signout:hover{color:#54bbec}.topbar div>ul.secondary-nav .dropdown-menu li.drop-profile:before,.topbar div>ul.secondary-nav .dropdown-menu li.drop-edit-profile:before,.topbar div>ul.secondary-nav .nav.secondary-nav .dropdown-menu li.drop-edit-profile:before,.topbar .nav.secondary-nav div>ul.secondary-nav .dropdown-menu li.drop-edit-profile:before,.topbar div>ul.secondary-nav .dropdown-menu li.drop-project:before,.topbar div>ul.secondary-nav .nav.secondary-nav .dropdown-menu li.drop-project:before,.topbar .nav.secondary-nav div>ul.secondary-nav .dropdown-menu li.drop-project:before,.topbar div>ul.secondary-nav .dropdown-menu li.drop-contrib:before,.topbar div>ul.secondary-nav .nav.secondary-nav .dropdown-menu li.drop-contrib:before,.topbar .nav.secondary-nav div>ul.secondary-nav .dropdown-menu li.drop-contrib:before,.topbar div>ul.secondary-nav .dropdown-menu li.drop-inbox:before,.topbar div>ul.secondary-nav .nav.secondary-nav .dropdown-menu li.drop-inbox:before,.topbar .nav.secondary-nav div>ul.secondary-nav .dropdown-menu li.drop-inbox:before,.topbar div>ul.secondary-nav .dropdown-menu li.drop-signout:before,.topbar div>ul.secondary-nav .nav.secondary-nav .dropdown-menu li.drop-signout:before,.topbar .nav.secondary-nav div>ul.secondary-nav .dropdown-menu li.drop-signout:before,.topbar .nav.secondary-nav .dropdown-menu li.drop-profile:before,.topbar .nav.secondary-nav div>ul.secondary-nav .dropdown-menu li.drop-edit-profile:before,.topbar div>ul.secondary-nav .nav.secondary-nav .dropdown-menu li.drop-edit-profile:before,.topbar .nav.secondary-nav .dropdown-menu li.drop-edit-profile:before,.topbar .nav.secondary-nav div>ul.secondary-nav .dropdown-menu li.drop-project:before,.topbar div>ul.secondary-nav .nav.secondary-nav .dropdown-menu li.drop-project:before,.topbar .nav.secondary-nav .dropdown-menu li.drop-project:before,.topbar .nav.secondary-nav div>ul.secondary-nav .dropdown-menu li.drop-contrib:before,.topbar div>ul.secondary-nav .nav.secondary-nav .dropdown-menu li.drop-contrib:before,.topbar .nav.secondary-nav .dropdown-menu li.drop-contrib:before,.topbar .nav.secondary-nav div>ul.secondary-nav .dropdown-menu li.drop-inbox:before,.topbar div>ul.secondary-nav .nav.secondary-nav .dropdown-menu li.drop-inbox:before,.topbar .nav.secondary-nav .dropdown-menu li.drop-inbox:before,.topbar .nav.secondary-nav div>ul.secondary-nav .dropdown-menu li.drop-signout:before,.topbar div>ul.secondary-nav .nav.secondary-nav .dropdown-menu li.drop-signout:before,.topbar .nav.secondary-nav .dropdown-menu li.drop-signout:before{content:"U";position:absolute;font-size:16px;font-family:"Pictos";-webkit-font-smoothing:antialiased;left:6px;top:6px}.topbar div>ul.secondary-nav .dropdown-menu li.drop-edit-profile:before,.topbar .nav.secondary-nav .dropdown-menu li.drop-edit-profile:before{content:"y"}.topbar div>ul.secondary-nav .dropdown-menu li.drop-project:before,.topbar .nav.secondary-nav .dropdown-menu li.drop-project:before{content:"k"}.topbar div>ul.secondary-nav .dropdown-menu li.drop-contrib:before,.topbar .nav.secondary-nav .dropdown-menu li.drop-contrib:before{content:"l";top:8px}.topbar div>ul.secondary-nav .dropdown-menu li.drop-inbox:before,.topbar .nav.secondary-nav .dropdown-menu li.drop-inbox:before{content:"M";top:7px}.topbar div>ul.secondary-nav .dropdown-menu li.drop-signout:before,.topbar .nav.secondary-nav .dropdown-menu li.drop-signout:before{content:"Q"}.topbar div>ul.secondary-nav .dropdown-menu li a,.topbar .nav.secondary-nav .dropdown-menu li a{font-size:12px;padding:2px 5px 2px 25px;border-bottom:1px solid #f3f3f3}.topbar div>ul.secondary-nav .dropdown-menu li a span,.topbar .nav.secondary-nav .dropdown-menu li a span{display:inline-block;position:relative;top:-8px;left:4px;padding:2px 5px 0;min-width:10px;color:white;font-family:"Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;font-size:11px;line-height:18px;font-weight:700;text-align:center;-webkit-border-radius:10px 1px 9px 0;-moz-border-radius:10px 1px 9px 0;-ms-border-radius:10px 1px 9px 0;-o-border-radius:10px 1px 9px 0;border-radius:10px 1px 9px 0;border-bottom:1px solid rgba(190,190,192,0.9);background:#54bbec;top:-2px}.topbar div>ul.secondary-nav .dropdown-menu li a.last,.topbar .nav.secondary-nav .dropdown-menu li a.last{border-bottom:none}.topbar div>ul.secondary-nav li,.topbar .nav.secondary-nav li{width:auto}.topbar div>ul.secondary-nav li.sep,.topbar .nav.secondary-nav li.sep{line-height:48px;font-weight:normal;color:#54bbec;font-size:14px}.topbar div>ul.secondary-nav li a,.topbar .nav.secondary-nav li a{font-size:14px;padding:10px 5px;line-height:28px}.topbar div>ul.secondary-nav li a.dropdown-toggle,.topbar .nav.secondary-nav li a.dropdown-toggle{padding:10px 18px 1px;z-index:901}.topbar div>ul.secondary-nav li a:hover,.topbar .nav.secondary-nav li a:hover{background:none;color:#54bbec}.topbar div>ul a,.topbar .nav a{display:block;float:none;padding:12px 10px 12px 50px;line-height:13px;text-decoration:none;color:#000;font-size:18px;position:relative;-webkit-transition:background 0.2s linear;-moz-transition:background 0.2s linear;-o-transition:background 0.2s linear;transition:background 0.2s linear}.topbar div>ul a:hover,.topbar .nav a:hover{color:#54bbec}.topbar div>ul a small,.topbar .nav a small{font-size:12px}.topbar form{float:left;margin:7px 0;position:relative;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);opacity:1}.topbar form.search{position:relative}.topbar form.search:before{content:"s";font-size:16px;color:#777;font-family:"Pictos";-webkit-font-smoothing:antialiased;position:absolute;left:12px;top:10px}.topbar form input{width:184px;padding:5px 5px 5px 30px;height:22px;border:1px solid #e6e6e6;-webkit-border-radius:0;-moz-border-radius:0;-ms-border-radius:0;-o-border-radius:0;border-radius:0;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none}.topbar #language-dropdown .dropdown-toggle>img{border:none}.topbar .locale{margin-top:2px}.topbar .dropdown-toggle .me{display:inline-block;height:22px;position:relative;top:-7px;background:#EEE;line-height:22px;padding:0 6px 0 3px;left:-4px;border-radius:0 2px 2px 0;border:1px solid #D9D9D9}.topbar .dropdown-toggle .me:hover{color:#54bbec}.topbar .dropdown-toggle>img{width:20px;height:20px;margin:3px 0 0;border:2px solid #d9d9d9;-webkit-transition:border 0.4s linear;-moz-transition:border 0.4s linear;-o-transition:border 0.4s linear;transition:border 0.4s linear}.topbar .dropdown-toggle>img:hover{border-color:#54bbec}.topbar-inner{height:52px;background:#fff;*border-bottom:1px solid #DDD;-webkit-box-shadow:0 1px 2px rgba(0,0,0,0.3);-moz-box-shadow:0 1px 2px rgba(0,0,0,0.3);box-shadow:0 1px 2px rgba(0,0,0,0.3)}.topbar-inner h3{position:relative}.topbar-inner h3 a{margin:7px 10px 7px 0;text-indent:-9999px;background:url(/assets/header-s98a0261135-f1353d0edb9c83b2fe4ea15efe1745eb.png) 0 0 no-repeat;width:180px;height:35px;display:block;float:left;-webkit-transition:opacity linear;-webkit-transition-delay:0.2s;-moz-transition:opacity linear 0.2s;-o-transition:opacity linear 0.2s;transition:opacity linear 0.2s}
.topbar-inner h3 a:hover{opacity:.80}