
.commentText{
    color : black ;
    border-bottom-style: dotted;
    border-bottom-width: 1px;
    border-bottom-color: green;
    margin-bottom : 5%;
    margin-top : 1%;
    padding-bottom : 3%;
}

#detailWebsiteModalComments{
    overflow:auto;
    height:300px;

}
