// Place all the styles related to the Tags controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.tagCloud:hover{
    /*  //  background-color:#9bd290;
        //border-radius: 5px 10px 0 5px;*/
    font-weight: lighter;

}

.tagCloud{
    cursor : pointer ;
}

#tagsCloud{
    margin-right : 2%;
    margin-bottom: 2%;
    padding-bottom: 4%;
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 4%;
    box-shadow: 4px 4px 10px -2px rgba(0,0,0,0.5);
    background-color : #efefef;
}