// Place all the styles related to the WebApps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#favicons_website{
    margin-bottom: 1%;
}

.websitePreview:hover{
    background-color :#9bd290;
    color:white;
}


