// Place all the styles related to the WebApps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#favicons_website{
margin-bottom: 1%;

}
    
.websitePreview:hover{
    background-color :#9bd290;
    color:white;
}

#content ul#websites_grid {
  margin: -45px -30px 100px 30px;
}
#content ul#websites_grid li {
  float: left;
  list-style: none;
  margin-right: 1%;
  margin-top:0%;
  margin-bottom: 5%;
}

#content ul#websites_grid li .thumbnail .show {
  width: 220px;
  margin-bottom: 1%;
  background-size: 100%!important;
}

#content .website_preview{
    width:23%;
}


.websites .thumbnail{
    height : 300px;
     box-shadow: 4px 4px 10px -2px rgba(0,0,0,0.5);
       // background-image: url(/img/az_subtle.png);
            background-color : #efefef;

}

.websites .thumbnail img{
   margin-left:1%;
   margin-bottom: 2%;
 //margin-right:auto;
}
