// Place all the styles related to the WebApps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#favicons_website{
margin-bottom: 1%;

}

.custom_inline{
  display : inline-block ;

}

.websitePreview:hover{
    background-color :#9bd290;
    color:white;
}

legend {
    position:absolute;
    left:0;
    right:0;
    bottom:5px;
    text-align:center;
    background:rgba(0, 0, 0, 0.75);

}

.media-grid a {position:relative;}