      <div id="headerContainer">
   	<div id="headerCarousel">
   		<!-- <img id="headerImgCarousel" src="img/photos-background/main4.jpg" alt="imgCarrousel"> -->
   		<div id="headerSlogan" class="container">
   			<h1>La plateforme</h1>
   			<h1>des projets collaboratifs</h1>
            <h3 style="color:rgb(62, 63, 62);font-family:Politica-italic"> Un web contributif pour un nouveau modèle  </h3>
   			<br>
   			<a ng-href="#/alveoles" class="btn btn-success" style="color:white">Explorer maintenant !</a>
   		</div>
   	</div>
   </div>