<p>Bienvenue !</p>

<p>Vous pouvez confirmmer votre inscription en cliquant sur le lien ci-dessous :</p>

<% adress = confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %>
<%= adress.slice(7,adress.length) %>