<div id="feedback_modal" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Feedback</h3>
  </div>
  <div class="modal-body">
    <%= form_for @feedback, :as => :feedback, :url => feedback_index_path, :html => { :id => "feedback_form" ,:class=>""} do |f| -%>

      <span id="statusMessage" class="custom_inline"></span>
      <img id="img-spinner_feedback" class="hide" src="/img/ajax-loader.gif" alt="Loading"/>

      <div class="field">
        <div class="control-group">
          <div class="controls">
            <%= f.text_area 'comment',:autofocus=>"autofocus", :id=>"feedbackContent", :placeholder=>"Une idée, un commentaire, un bug ? Dites-nous tout !" %>
          </div>
        </div>
      </div>


    </div>
    <div class="modal-footer">
      <p><%= f.submit 'Send', :class=>"btn btn-success", :id=>"sendFeedback"%></p>
    <%end%>
  </div>
</div>