<!-- Button to trigger modal -->

<!-- Modal -->
<div id="detailWebsiteModal" websiteId="" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="detailWebsiteModalLabel" aria-hidden="true">
     <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>

    <p class="close" id="detailWebsiteModalNbVues"></p>
    <h3 id="detailWebsiteModalTitle"></h3> 

  </div>
  <div class="modal-body">

    <!-- Caption -->
    <div class="row-fluid">
      <div class="offset2 span10">
        <h4 id="detailWebsiteModalCaption"></h4>
      </div>
    </div>

    <!-- Row : Description and image -->
    <div class="row-fluid">

      <div class="span2">
        <h3>Tags : </h3>
        <span id="detailWebsiteModalTagsList"></span>
      </div>

      <div class="span4">
        <!-- URL -->
        <a href="" target="_blank" id="detailWebsiteModalURL" class="websiteurl"></a>
       
        <br></br>
        <!-- Description -->
        <p id="detailWebsiteModalDescription"></p>


      </div><!--/span--> 

      <div class="span6">
        <img alt="" id="detailWebsiteModalImage" src="" ></img>
      </div> 


    </div>
  </div>
  <div class="modal-footer">
    <a class="btn" id="detailWebsiteModalEdit" href="">Edit</a>
  </div>
</div>