<!-- HTML code to display temporary message -->
<%  # In Ruby code write for example :
    # flash[:error] = "La Webapp demandé n'existe pas";
    # and the message display where you put this file
    # The style depends of the variable ':error' here
    #  You can check all possbilities in the helpers file : application_helpers.rb
%>

<div>
  <% flash.each do |key, value| %>
    <div class="<%= flash_class(key) %> fade in">
      <a href="#" data-dismiss="alert" class="close">×</a>
      <%= value %>
    </div>
  <% end %>
</div>
