<!-- HTML code for footer : valeurs, faq, équipe, contact -->


<footer class="footer"> <!-- Css of footer in asset/stylesheets/bootstrap-over.scsss -->
  <div class="container">
    <div class="row-fluid">
      <div class="span3 offset2">
        <h4> Qui sommes-nous ? </h4>
        <ul>
          <li> Nos valeurs </li>
          <li> L'équipe </li>
          <li> F.A.Q </li>
        </ul>

      </div><!--/span-->
      <div class="span3">
        <h4> Contactez-nous </h4>
        <ul>
          <li> Promouvoir votre site </li>
          <li> Signaler un bug </li>
          <li> Un commentaire ? </li>
        </ul>

      </div><!--/span-->
      <div class="span3">
        <h4>A propos</h4>
        <p>Donec id elit non mi porta gravida at eget metus. </p>
      </div><!--/span-->
      
    </div><!--/row-->
  </div><!--/container-->

</footer>