
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Mon espace</li>
              <li><a href="#">Website favoris</a></li>
              <li><a href="#">Mon profil</a></li>
              <li class="nav-header">Catégories</li>
              <li class="active"><a href="#">Actualités</a></li>
              <li><a href="#">Blogs</a></li>
              <li><a href="#">Cinéma</a></li>
              <li><a href="#">Collaboratif</a></li>
              <li><a href="#">Développement durable</a></li>
              <li><a href="#">Musique</a></li>
              <li><a href="#">Social</a></li>
              <li><a href="#">Santé</a></li>
              <li><a href="#">Vidéos</a></li>
    
            </ul>
	      </div><!--/.well -->
