<!-- HTML code for menu tabs left --> 

<div class="well sidebar-nav">
  <ul class="nav nav-list">
    <li class="nav-header"><h4>Top popularité</h4></li>
    <li><a href="#">MyMajorCompagny</a></li>
    <li><a href="#">Coursera</a></li>
    <li><a href="#">La machine du voisin</a></li>
    <li class="nav-header"><h4>Les plus consultés</h4></li>
    <li><a href="#">Ted</a></li>
    <li><a href="#">Deways</a></li>
    <li><a href="#">Coursera</a></li>
    <li class="nav-header"><h4>Les mieux notés</h4></li>
    <li><a href="#">Covoiturage.fr</a></li>
    <li><a href="#">Youporn</a></li>
    <li><a href="#">Fleex <%=@tests %> </a></li>
    <li class="nav-header"><h4>Test dynamique</h4></li>
    <% @webrecents  = get_top_recent %><%# here I use an helper in web_appshelper%>
    <% (0..2).each do |i| %>
    <li><%= link_to  @webrecents[i].title,  @webrecents[i].url%></li>
    <%end%>

  </ul>
</div><!--/.well -->
