<!-- Contenait le html pour un menu bar mais surement USELESS maintenant -->

<div class="navbar">
              <div class="navbar-inner">
                <div class="container">
                  <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </a>
                  <a class="brand" href="#">Bienvenue</a>
                  
                  <div class="nav-collapse">
                    <ul class="nav">
                      <li><a href="#">A la Une</a></li>
                      <li><a href="#">Recommandation</a></li>
                      <li><a href="#">Populaire</a></li>
                    </ul>
            
                    <ul class="nav pull-right">
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Filtrer par <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                          <li><a href="#">Pratique</a></li>
                          <li><a href="#">Ingénieux</a></li>
                          <li><a href="#">Fun</a></li>
                          <li><a href="#">Beau</a></li>
                          <li><a href="#">Courageux</a></li>
                          <li class="divider"></li>
                          <li><a href="#">Proposer un autre filtre !</a></li>
                        </ul>
                      </li>
                      <li class="divider-vertical"></li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Trier par <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                          <li><a href="#">Vues Facebook</a></li>
                          <li><a href="#">Notes</a></li>
                          <li><a href="#">Popularité</a></li>
                          <li class="divider"></li>
                          <li><a href="#">Proposer un autre tri !</a></li>
                        </ul>
                      </li>
                    </ul>
                    
                  </div><!-- /.nav-collapse -->
                </div>
              </div><!-- /navbar-inner -->
            </div><!-- /navbar -->