<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>

<!-- On a donc accès à des variables nommées d'après le modèle de la collection -->
 <li><%= link_to  websites.title, websites.url%></li>